.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1C1C21;
    max-width: 1920px;
    min-height: 88px;
    margin: 0 auto;
}

.choices {
    display: flex;
    justify-content: right;
    gap: 8px;
}

.main_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.link {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px;
    text-decoration: none;
    align-content: center;
    color: #F2F2F3;
    margin: 0 20px;
}

.link:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 45px;
}

.personal_account {
    display: flex;
    justify-content: center;
}